name: Haskell CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-haskell@v1
      with:
        ghc-version: '8.6.5'
        cabal-version: '3.0'
    - name: Install libudev
      run: sudo apt-get install libudev-dev hlint
    - name: Install dependencies
      run: |
        cabal update
        cabal install --only-dependencies -fexamples
    - name: Build
      run: |
        cabal build
